{% extends 'base.html.twig' %}

{% block title %}
    {% trans %}List of Jobs{% endtrans %}
{% endblock %}

{% block body %}
    <div>{% trans %}List of Jobs{% endtrans %}</div>
    <div>
        {% for job in jobs %}
            <a href="{{ path('job_show', {id: job.id}) }}">{{ job.title }}</a>
        {% endfor %}
    </div>
    <a href="{{ path('job_create') }}">
        {% trans %}Create{% endtrans %}
    </a>
{% endblock %}
